@font-face {
  font-family: 'Chela One';
  src: url('~@/assets/ChelaOne-Regular.ttf')  format('truetype');
}

html {
  font-family: 'Chela One', sans-serif;
}

.button {
  padding: 0.5em 2em;
  color: #fff;
  text-decoration: none;
  background-color: #000;
  border-radius: 2em;
}

.music-icon {
  position: fixed;
  right: 1em;
  bottom: 1em;

  &--muted {
    opacity: 0.6;
  }
}

.watermark {
  position: fixed;
  bottom: 0.5em;
  left: 50%;
  margin: 0;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: #fcf1d4;
  transform: translateX(-50%);
}
