<template>
  <!-- eslint-disable -->
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 800 600"
    style="enable-background: new 0 0 800 600;"
    xml:space="preserve"
  >
    <g>
      <path
        class="st0"
        d="M510.2,106.02c0.46-0.22-4.33-1.81-8.81-4.72c3.26,2.32,7.61,4.27,8.7,4.77
        C510.12,106.06,510.16,106.04,510.2,106.02z"
      />
      <path
        class="st0"
        d="M501.39,101.31c-0.16-0.11-0.32-0.23-0.47-0.34c-2.36-1.77-3.88-3.25-4.74-4.18
        C497.55,98.54,499.44,100.05,501.39,101.31z"
      />
      <path
        class="st0"
        d="M510.67,77.62c-0.38,0.06-0.76,0.13-1.14,0.2L510.67,77.62z"
      />
      <path
        class="st0"
        d="M495.02,56.22c-10.38-6.73-24.17-3.65-30.8,6.88c-6.63,10.53-3.6,24.53,6.78,31.26
        c7.51,4.87,16.85,6.11,24.27,1.39c0,0,0.29,0.39,0.89,1.03c-1-1.26-1.73-2.65-2.02-4.17c-1.77-9.23,4.37-12.79,15.39-14.8
        l-2.96,0.52C507.38,67.04,498.98,58.79,495.02,56.22z"
      />
      <path
        class="st0"
        d="M510.08,106.08c-0.03,0.01-0.05,0.03-0.08,0.04c0.11,0.03,0.22,0.06,0.33,0.09
        C510.4,106.23,510.29,106.18,510.08,106.08z"
      />
      <g>

        <path
          class="st0"
          d="M101.13,185.38c-0.34-2-4.26-0.11-6.83-1.84c-1.51-1.02,0.72,4.32,1.15,5.73c1.09,3.58,4.08,13.07,5.11,16.36
          c1.35-0.71,2.73-1.39,4.13-2.04C103.49,197.67,101.66,188.52,101.13,185.38z"
        />

        <path
          class="st0"
          d="M120.88,190.13c-1.33-1.45-2.06-3.53-2.25-2.81c-0.51,1.85-2.14,7.19-3.94,12.12c2.45-0.9,4.94-1.73,7.47-2.5
          c0.58-1.61,1.07-3.01,1.55-4.35C123.9,192.06,122.08,191.43,120.88,190.13z"
        />

        <path
          class="st0"
          d="M0,0l0.35,141.04c0.27-1.99,1.26-7.14,4.49-10.64c3.01-3.26,9.13-4.11,10.4-4.06
          c11.35,0.45,8.3,4.79,9.71,5.28c0.25,0.09-0.84-4.01,1.98-4.69c18.89-4.59,19.58,14.92,19.58,14.92
          c17.21,0.61,14.13,18.29,10.04,24.12l1.22,1.72c0,0,6.38,10.85-0.04,19.92c-3.78,5.34-12.56,7.21-12.56,7.21l-0.94-1.13
          c-4.92-6.7-8.82-11.75-8.82-11.75s-1.8,3.26-3.11,5.01c-1.07,1.42-4.13,4.82-4.13,4.82s11.41,8.36,21.74,23.81l-0.04,0.97
          c-1.37,7.08-4.49,9.8-7.69,11.18c-2.52,1.09-9.97,3.15-16.78-2.56c-3.35-2.81-4.22-9.26-2.33-13.46c2.31-5.15-7.1,7.58-22.23,6.55
          c-0.16-0.01-0.3-0.32-0.42-0.87l0.05,47.66c0,0,23.1-8.38,67.3-37.51c3.38-2.23,24.96-11.55,33.86-16.26
          c1.35-0.71-1.36-5.61-1.27-4.36c0.08,1.11-5.1,5.78-5.79,5.55c-0.74-0.25-5.42,0.09-4.77-0.36c0.15-0.1,0.3-0.2,0.45-0.3
          c-0.1-0.03-0.18-0.05-0.24-0.08c-4.28-1.8-3.55-6.86-3.82-6.96c-1.43-0.51-3.48-2.07-4.15-5.71c-0.95-5.16,2.2-8.37,1.65-8.2
          c-1.84,0.58-4.61,3.31-8.99-0.44c-5.24-4.49-3.69-8.63-3.59-8.98c0.16-0.57,0.4-1.18,0.4-1.18c-3.61-2.38-7.26-5.83-7.03-14.65
          c0.15-5.95,4.74-8.48,8.15-9.59c0.29-0.09-0.34-0.32-0.92-0.81c-2.9-2.43-6.61-8.51-2.78-18.79c4.09-10.98,13.11-8.24,14.64-7.71
          c0.24,0.09,0.98,0.34,0.98,0.34c1.88-2.84,5.8-6.56,13.15-6.19c4.45,0.22,6.72,1.74,8.35,2.92c0.35,0.25,0.84,0.62,0.84,0.62
          c1.45-0.81,3.94-1.31,8.24-0.5c2.48,0.47,5.33,2.49,6.04,3.06c2.95,2.37,3.36,4.8,3.37,7.7c0,0.38-0.18,1.55,0.09,1.51
          c1.93-0.31,3.49-0.69,5.13-0.42c5.58,0.92,9.02,4.28,7.9,10.1c-0.23,1.21-0.62,2.66-0.62,2.66c6.23-0.75,20.85,13.07,17.82,27.76
          l-0.63,2.84c-0.27,1.32-0.64,2.55-1.14,3.72c0.66-1.4,1.13-2.87,1.45-4.43l0.48-1.77c0,0,1.51-2.07,5.11-0.82
          c5.48,1.9,10.23,5.7,12.42,10.67c47.37-2.96,91.57,5.32,91.57,5.32s45.2,12.05,79.03,22.18c-3.05,21.24-7.12,43.37-8.27,46.53
          c-2.06,5.67,6.01,11.31,23.98,10.82c17.07-0.47,19.22-2.09,22.25-4.22c1.33-0.94,0.2-21.07-1.19-40.3
          c16.1,3.58,182.26-42.57,182.26-42.57c144.29-60.47,237.32-28.61,237.32-28.61L800,1.06L0,0z M310.67,79.24
          c-2.83,2.95-12.3,3.13-17.71,3.5c-5.31,0.37-16.38,0.09-26.22-0.4c0,0,2.23,3.34-3.2,5.72c-3.38,1.49-11.12,4.92-32.86,5.31
          c0,0-18.77,3.85-38.42,5.28c-28.88,2.1-28.93-10.5-28.93-10.5s-11.09,6.49-36.84,6.49c-11.51,0-43.02-0.12-48.82-4.11
          c-4.17-2.86-2.75-10.14,1.58-12.72c3.31-1.97,9.35-4.01,19.05-4.94c0,0-14.69-3.48-5.98-10.39c6.55-5.2,17.24-6.57,28-8.52
          c9.6-1.74,24-3.74,34.08-2.18l1.19,0.14c6.27-10.03,23.46-20.42,36.8-20.46c13.76-0.05,24.01,14.02,24.01,14.02
          s36.48-2.92,46.45-1.91c36.13,3.66,22.66,7.35,12.32,9.13c7.8-0.8,20.71-1.51,35.35-0.67c17.93,1.04,33.23,3.57,32.08,11.35
          c-0.61,4.09-18.82,5.94-35.71,6.77l1.09,0.13C311.92,70.62,314.73,75,310.67,79.24z M739.89,95.75
          c-11.17,0.34-31.54-1.69-32.28-0.95c-0.95,0.95,10.23,2.01,15.38,9.62c3.87,5.73,0.67,8.36-7.41,9.56
          c-2.3,0.34-38.61-0.57-38.61-0.57s3.84,6.52-12.68,6.89c-16.52,0.37-30.18-7.33-30.18-7.33c-2.34,12.15-90.55,10.19-114.04,3.69
          c-19.94-5.51-13.51-8.9-10.06-10.55c-9.78-2.71-19.05-5.27-22.07,8.85c-0.65,3.04-2.44,3.48-3.06,1.93
          c-0.38-0.94-2.24-4.91-3.19-6.5c-2.06-3.44-7.19-6.8-12.06-4.25c-1.44,0.76-9.32,5.87-9.71,4.4c-0.7-2.64,6.24-8.21-0.86-14.63
          c-8.16-7.36-14.07-2.61-14.6-4.16c-0.49-1.44,7.54-3.62,6.71-11.17c-0.83-7.55-8.14-10.49-8.14-10.49
          c-5.83-3.45-0.39-2.8,1.44-3.03c4.69-0.57,7.48-1.28,10.02-4.8c4.31-5.97-1.45-12.08,0.01-13.29c1.22-1.01,8.89,7.04,17.87-1.21
          c3.15-2.9,4.95-5.13,5.09-9.97c0.04-1.34,1.59-2.77,3.26,0.28c0.81,1.48,2.46,7.08,9.63,9.4c7.94,2.56,13.21-3.38,15.2-4.21
          c3.21-1.34,0.39,4.51-0.03,6.2c-0.49,1.97-1.12,5.11,2.59,9.62c4.97,6.03,15.34,2.82,14.89,5.36c-0.5,2.82-9.41,5.22-8.35,12.46
          l-3.95,0.69c4.31-0.73,9.3-1.25,14.81-1.81c22.7-2.26,42.65,1.88,46.67,2.8c0.29,0.07,0.56-0.18,0.51-0.47
          c-0.58-3.24,1.56-16.26,21.93-16.09c22.34,0.18,29.7,7.94,29.7,7.94c5.99-12.05,12.22-15.92,25.75-15.69
          c15,0.26,16.27,13.52,16.29,13.73c1.13,0,21.75-0.62,26.27-0.31c22.47,1.54,47.17,5.39,55.07,11.41
          C752.92,83.12,754.51,95.31,739.89,95.75z"
        />
      </g>
    </g>
    <path
      class="st0"
      d="M506.65,78.36c0.8-11.3-7.57-19.42-11.53-21.99c-10.38-6.73-24.17-3.65-30.8,6.88
      c-6.63,10.53-3.6,24.53,6.78,31.26c7.51,4.87,16.7,5.71,24.13,0.99c0,0-3.58-5.61,0.53-11.78C498.8,79.18,506.65,78.36,506.65,78.36
      z"
    />
    <path
      class="st0"
      d="M687.46,428.04"
    />
    <path
      class="st0"
      d="M516.81,392.64l0.85,47.22c0.05,2.08-0.24,4.49,1.72,3.89l188.75-59.5c0.77-0.24,1.85-1.12,1.84-1.93
      l-0.58-44.06c-0.03-1.19-1.67-1.69-2.8-1.35L518.1,390.86C517.32,391.09,516.8,391.82,516.81,392.64z"
    />
    <polygon
      class="st0"
      points="516.55,443.19 400.93,438.38 401.89,388.14 515.78,391.55 "
    />
    <path
      class="st0"
      d="M502.48,345.5"
    />
    <path
      class="st0"
      d="M503.09,360.18"
    />
    <path
      class="st0"
      d="M501.91,326.55c0.18,0,144.31-37.24,144.31-37.24c1.23-0.32,2.43-1.58,2.43-0.3l0.84,36.48
      c0,0.85-0.54,1.6-1.34,1.86c-14.58,4.74-144.05,46.77-144.11,43.24L501.91,326.55z"
    />
    <path
      class="st0"
      d="M501.91,326.55l-77.45-1.88c-1.38-0.26-2.15,3.92-2.15,5.01l-0.36,36.29c0,1.05,82.09,4.61,82.09,4.61
      C503.98,367.22,501.91,326.55,501.91,326.55z"
    />
    <path
      class="st0"
      d="M264.54,354.24l-59.89-3.17c-0.92-0.04-1.64-0.81-1.64-1.74v-31.88c0-0.44,0.36-0.79,0.8-0.77l74.4,2.51
      L264.54,354.24z"
    />
    <path
      class="st0"
      d="M147.73,420.2c0,0.54,0.42,0.99,0.96,1.02l27.65,1.73l60.76,3.89l17.83-47.88l-107.3-5.54L147.73,420.2z"
    />
    <path
      class="st0"
      d="M83.89,451.2l63.74-36.59l0.35,6.64l89.13,5.59l-12.7,34.25l-140.47-9.73
      C83.84,451.36,83.81,451.25,83.89,451.2z"
    />
    <polygon
      class="st0"
      points="422.58,367.18 402.65,388.17 515.78,391.55 707.31,337.02 648.36,327.24 504.13,370.93 "
    />
    <path
      class="st0"
      d="M216.38,45.48c0,0-10.25-14.07-24.01-14.02c-14.3,0.05-33.03,11.99-37.98,22.63"
    />
    <path
      class="st0"
      d="M506.65,78.36c0.8-11.3-7.57-19.42-11.53-21.99c-10.38-6.73-24.17-3.65-30.8,6.88
      c-6.63,10.53-3.6,24.53,6.78,31.26c7.51,4.87,16.7,5.71,24.13,0.99c0,0-3.58-5.61,0.53-11.78C498.8,79.18,506.65,78.36,506.65,78.36
      z"
    />
    <path
      class="st0"
      d="M370.59,296.36c0.52-1.46,0.22-8.09,0.29-10.25c0.07-1.92,0.68-8.09-0.28-13.31c0,0-2.58,0.26-4.35,0.37
      c-1.48,0.1-4.37,0.12-4.37,0.12s0.97,6.06,1.13,7.84c0.27,3,2.15,11.7,1.32,14.65c0,0,1.14,0.58,1.69,0.96
      c0.12,0.08,0.64-0.76,1.6-1.14c0.33-0.13,1.16,0.03,1.54,0.2C369.74,296.07,370.29,296.22,370.59,296.36z"
    />
    <path
      class="st0"
      d="M348.53,296.35c-0.15,0.07-0.31,0.02-0.34-0.14c-0.34-1.94-0.29-7.62-0.43-9.68
      c-0.14-1.95-1.13-8.27-0.36-13.61c0,0,2.56,0.29,4.52,0.4c1.51,0.09,4.1,0.13,4.1,0.13s-0.64,5.84-0.73,7.65
      c-0.16,3.06-1.89,11.97-0.38,15.25c0.17,0.37-1.02-0.66-1.57,0c-0.55,0.65-0.73,0.25-0.73,0.25s-0.29-0.66-1.77-0.86
      C349.92,295.63,349.26,296,348.53,296.35z"
    />
    <path
      class="st0"
      d="M363.52,308.06c-1.09-1.21-0.64-2.63-1.09-5.33c-0.16-0.94-1.28-2.19-1.31-4c-0.02-1.49,1.11-1.9,1.85-2.2
      c1.79-0.73,2.05-0.22,2.71,0.6c0.16,0.2,0.42-0.01,0.42-0.01c1.27-2.57,3.81-1.5,4.23,0.1c0.07,0.28,0.67-0.76,0.87-0.97
      c0.7-0.74,1.87-0.03,2.56,0.25c0.79,0.32,1.44,1.45,0.9,2.81c-0.4,0.99-0.53,1.78-0.57,3.18c-0.09,3.07,0.43,4.17-0.64,5.4
      c0,0,0.01,0.6,0.07,0.74c0.99,2.61,1.07,3.37,0.56,4.79c-0.4,1.1-9.2,0.4-9.77,0.29s-2.53-1.34-1.54-4.06L363.52,308.06z"
    />
    <path
      class="st0"
      d="M510.33,106.21c-9.9-2.74-19.34-5.51-22.4,8.76c-0.65,3.04-2.44,3.48-3.06,1.93c-0.38-0.94-2.24-4.91-3.19-6.5
      c-2.06-3.44-7.19-6.8-12.06-4.25c-1.44,0.76-9.32,5.87-9.71,4.4c-0.7-2.64,6.24-8.21-0.86-14.63c-8.16-7.36-14.07-2.61-14.6-4.16
      c-0.49-1.44,7.54-3.62,6.71-11.17c-0.83-7.55-8.14-10.49-8.14-10.49c-5.83-3.45-0.39-2.8,1.44-3.03c4.69-0.57,7.48-1.28,10.02-4.8
      c4.31-5.97-1.45-12.08,0.01-13.29c1.22-1.01,8.89,7.04,17.87-1.21c3.15-2.9,4.95-5.13,5.09-9.97c0.04-1.34,1.59-2.77,3.26,0.28
      c0.81,1.48,2.46,7.08,9.63,9.4c7.94,2.56,13.21-3.38,15.2-4.21c3.21-1.34,0.39,4.51-0.03,6.2c-0.49,1.97-1.12,5.11,2.59,9.62
      c4.97,6.03,15.34,2.82,14.89,5.36c-0.5,2.82-9.41,5.22-8.35,12.46l-8.05,1.42c0.8-11.3-7.59-19.55-11.55-22.12
      c-10.38-6.73-24.17-3.65-30.8,6.88c-6.63,10.53-3.6,24.53,6.78,31.26c7.51,4.87,16.85,6.11,24.27,1.39c0,0,1.64,2.21,5.64,5.21
      C504.82,103.9,510.77,106.33,510.33,106.21z"
    />
    <path
      class="st0"
      d="M355.2,307.91c1.09-1.21,0.64-2.63,1.09-5.33c0.16-0.94,1.28-2.19,1.31-4c0.02-1.49-1.11-1.9-1.85-2.2
      c-1.79-0.73-2.3-0.26-2.71,0.6c-0.17,0.34-0.39,0.13-0.33,0c-1.37-2.28-3.42-1.69-4.3-0.12c-0.14,0.26-0.26-0.03-0.56-0.66
      c-0.44-0.92-2.19-0.12-2.89,0.15c-0.79,0.32-1.44,1.45-0.9,2.81c0.4,0.99,0.53,1.78,0.57,3.18c0.09,3.07-0.3,4.51,0.77,5.74
      c0,0-0.25,0.62-0.31,0.76c-0.99,2.61-0.9,3.1-0.39,4.52c0.4,1.1,9.15,0.5,9.72,0.39s2.52-1.54,1.52-4.26L355.2,307.91z"
    />
    <path
      class="st0"
      d="M69.34,312.49c0,0,4.87-7.04,0.68-15.29c-4.19-8.25-8.38,5.19-8.32,16.13l-2.67-0.27
      c-1.78-8.74-15.26-18.38-14.67-10.14c0.26,3.67,3.17,6.76,5.43,8.57l-49.35,0.73L0.43,599.49l799.01,0l0.06-300.96
      c0,0-32.11-0.93-37.53-0.74c-10.62,0.37-23.5,1.27-23.5,1.27s3.79-6.58,5.77-11.14c2.23-5.16,1.89-12.55-4.89-7.43
      c-4.41,3.33-8.28,14.93-8.41,19.64c-0.06,2.24-0.36-3.83-2.43-8.63c-1.6-3.7-6.37-1.01-6.26,4.95c0,0.14-0.18,0.18-0.23,0.05
      c-0.59-1.57-2.12-5.33-4.15-8.31c-2.65-3.88-4.71-1.9-5.04,7.26c-0.13,3.64,0.48,6.26,0.48,6.26l-4.26-0.03
      c-22.21-0.43-59.53,0.56-59.53,0.56l-0.24,24.73l60.3,10.05l0.68,45.02l75.69,11.1l1.34,50.84L657.8,491.62
      c-0.52-1.94-1.31-4.01-1.88-6.15c-1.13-4.29-3.08,1.27-3.2,7.95l-123.03,46.31l-157.16-10.25l-27.73,16.19l-147.96-14.68l5.89-13.5
      l-59.02-2.81c0,0-0.03-10.91-3.73-12.11c-3.21-1.05-3.76,5.91-3.49,10.88l-51.37-3.37c-0.66-0.04-1.18-0.59-1.19-1.25l-0.19-14
      c0-0.14-0.16-0.21-0.27-0.12c-0.75,0.64-3.66,2.99-4.89,3.69c-1.12,0.63-3.53,1.22-4.64,1.31c-4.49,0.34-5.91-3.75-6-3.17
      c-0.49,3.08-2.73,4.59-4.69,4.34c-3.86-0.15-5.91-0.63-7.81-2.29c-0.53-0.69-2.88-2.64-1.99-5.95c0.33-1.37,0.48-3.08,0.48-3.08
      c-0.42,0.08-2.05-0.11-2.53-0.28c-0.8-0.28-1.64-0.96-2.06-1.38c-2.73-2.71-3.4-6.52-2.12-9.95c0.22-0.58,0.59-1.41,1.36-2.03
      c1.28-1.03,3.06-1.09,4.45-0.91c2.22,0.29,6.42,1.93,5.54,0.88c-2.78-3.32-3.91-5.37-3.95-6.69c-0.05-1.38,1.15-2.75,1.96-3.45
      c2.87-2.49,6.48-4.15,10.16-4.65c3.1-0.43,5.54,0.52,6.55,2.52c0.7,1.38,0.27,4.95,0.27,4.95c2.01-2.97,5.64-6.8,9.73-4.25l0.14-13
      l63.71-36.64l0.33-41.65l20.84-11.3l34.36-18.59l0.45-26.34c0-0.28,0.18-0.53,0.44-0.63l21.38-8.25c0.14-0.05,0.1-0.25-0.05-0.25
      l-59.91,0.5c-0.02,0,0.9-1.12,2.45-4.68c2.88-6.62,5.81-9.52,3-10.77c-3.82-1.7-10.55,12.56-12.14,16.1c-0.14,0.3-0.56,0.3-0.7,0
      c-1.42-3.1-6.78-14.32-9.09-13.35c-3.33,1.41-1.52,11.36-0.79,13.38c0.04,0.1-0.03,0.2-0.13,0.21c-2.16,0.13-20.18,1.25-31.18,2.04
      c-11.72,0.84-12.89,0.49-16.89,0.21c-0.11-0.01,0.79,19.47,1.17,26.56c0.41,7.85-1.97,20.85,2.69,35.01c0,0-1.99,5.68-3.11,9.74
      c-0.2,0.74,1.07-7.71-0.61-8.15c-2.49-0.65-1.52,6.89-1.65,5.44c-0.12-1.35-1.46-12.39-4.04-12.47c-5.42-0.17-1,20.57,0.74,27.41
      c0.29,1.14-3.81-3.38-5.39-8.71c-1.63-5.48,0.24-9.79-1.4-11.48c-2.16-2.21-5.58,2.56-8.1,8.19c-0.86,1.93,2.93-13.23,2.93-32.8
      c0-9.45-0.35-24.44-0.78-37.95L69.34,312.49z"
    />
    <path
      class="st0"
      d="M82.02,312.09c-0.48-14.88-1.1-28.95-1.38-31.16c-0.03-0.23-3.12-15.77-5.01-20.76
      c-2.94-7.75-8.7-17.96-15.04-28.14c0,0-7.06,4.13-9.79,5.82c-16.97,10.47-48.26,25.9-50.34,27.21l0.08,46.88l48.57-0.54l0.75,0.12
      c-2.27-1.81-5.17-4.9-5.43-8.57c-0.59-8.25,12.89,1.4,14.67,10.14l2.67,0.27c-0.06-10.94,4.13-24.38,8.32-16.13
      c4.19,8.25-0.68,15.29-0.68,15.29L82.02,312.09z"
    />
    <path
      class="st0"
      d="M101.65,211.27c1.56,5.8,2.64,11.42,2.16,14.71c-0.7,4.76-6.04,10.02-5.72,18.34c0.32,8.32-1.37,18.8-1.37,18.8
      c-3.48,9.12-8.67-9.6-10.74-16.48c-2.17-7.19-6.46-11.47-9.59-14.33c-1.54-1.41-4.4-1.29-8.21-4.53L101.65,211.27z"
    />
    <path
      class="st0"
      d="M35.42,181.96c0,0,18.43,23.84,25.75,36.74s12.84,11.44,15.22,13.61c3.13,2.86,7.42,7.14,9.59,14.33
      c2.07,6.89,7.26,25.6,10.74,16.48c0,0,1.7-10.48,1.37-18.8c-0.32-8.32,5.02-13.58,5.72-18.34c1.31-8.96-5.62-27.69-8.37-36.71
      c-0.43-1.4-2.66-6.75-1.15-5.73c2.57,1.74,6.49-0.16,6.83,1.84c0.82,4.78,4.62,23.5,4.62,23.5c0.42,1.44,1.25,3.14,4.56-0.21
      c2.64-2.67,7.38-17.95,8.32-21.36c0.2-0.71,0.93,1.37,2.25,2.81c1.2,1.31,3.02,1.93,2.83,2.45c-2.83,7.82-9.78,25.68-9.78,25.68
      s-1.88,10.01,10.33,2.52c12.19-7.49,19.34-4.46,25.7-4.09c1.11,0.06,0.26,1.95,0.18,3.96c-0.07,1.8,0.7,2.86,0.13,2.85
      c-15.59-0.13-31.36,10.93-33.61,14.94c-7.93,14.15-5.34,25.21-9.35,33.17s-8.71,10.04-8.69,21.25c0.03,19.43,1.14,36.94,1.51,44.04
      c0.41,7.85-1.69,15.75,0.81,26.36c1.43,6.1,1.67,7.13,1.99,8.07l0.51,1.45c0,0-2.14,6.03-3.21,9.74c-0.21,0.73,1.07-7.71-0.61-8.15
      c-2.49-0.65-1.52,6.89-1.65,5.44c-0.12-1.35-1.46-12.39-4.04-12.47c-5.42-0.17-1,20.57,0.74,27.41c0.29,1.14-3.81-3.38-5.39-8.71
      c-1.63-5.48,0.24-9.79-1.4-11.48c-2.16-2.21-5.58,2.56-8.1,8.19c0,0-0.23,0.68-0.22,0.53c0.39-4.87,3.14-13.76,3.15-33.33
      c0-20.2-1.62-64.84-2.16-69.11c-0.03-0.23-3.12-15.77-5.01-20.76c-4.56-12.01-15.9-29.94-25.63-44.49
      c-10.33-15.44-21.74-23.81-21.74-23.81s3.07-3.39,4.13-4.82C33.62,185.21,35.42,181.96,35.42,181.96z"
    />
    <path
      class="st0"
      d="M125.08,202.44c1.07,0.9,1.58,1.54,4.1,2.26c0.45,0.13-3.43,1.81-2.95,5.08c0.77,5.28,1.88,5.37,5.15,6.87
      c0.58,0.26-1.55,1.25-1.55,1.25c-1.88,0.7-3.67,1.7-5.57,2.88c-12.17,7.56-10.33-2.52-10.33-2.52s3.32-9.3,5.25-13.36
      C119.88,203.44,125.08,202.44,125.08,202.44z"
    />
    <path
      class="st0"
      d="M44.24,193.7c-4.92-6.7-8.82-11.75-8.82-11.75s-1.8,3.26-3.11,5.01c-1.07,1.42-4.13,4.82-4.13,4.82
      s11.41,8.36,21.74,23.81l-0.04,0.97c-1.37,7.08-4.49,9.8-7.69,11.18c-2.52,1.09-9.97,3.15-16.78-2.56
      c-3.35-2.81-4.22-9.26-2.33-13.46c2.31-5.15-7.1,7.58-22.23,6.55c-2.49-0.17-0.59-72.72-0.59-76.39c0,0,0.52-7.06,4.59-11.47
      c3.01-3.26,9.13-4.11,10.4-4.06c11.35,0.45,8.3,4.79,9.71,5.28c0.25,0.09-0.84-4.01,1.98-4.69c18.89-4.59,19.58,14.92,19.58,14.92
      c17.21,0.61,14.13,18.29,10.04,24.12l1.22,1.72c0,0,6.38,10.85-0.04,19.92c-3.78,5.34-12.56,7.21-12.56,7.21L44.24,193.7z"
    />
    <path
      class="st0"
      d="M131.77,217.17c7.86-2.66,13.27-0.77,18.2-0.49c1.11,0.06,0.26,1.95,0.18,3.96c-0.07,1.8,0.7,2.86,0.13,2.85
      c-4.93-0.04-9.75,1.03-13.56,2.69c-2.92,1.27-2.9,11.76,0.93,15.77c4.33,4.52,16.03,1.15,16.03,1.15
      c12.75,12.37,19.62,1.62,19.62,1.62l1.02-1.24c2.57,0.4,5.65,0.64,9.08-1.76c1.13-0.79,4.44-4.51,5.3-6.02
      c7.75-13.51-3.04-22.24-3.04-22.24s2.94-8.02-1.41-12.71c-3.4-3.67-5.73-4.1-8.13-4.25c-0.6-0.04-2.4-0.21-2.4-0.21
      c1.01-8.74-5.52-15.69-13.61-18.5c-3.6-1.25-5.11,0.82-5.11,0.82l-0.48,1.77c-1.51,7.31-6.23,12.82-18.86,17.61
      c0,0,2.05,4.1-1.84,5.96c-0.49,0.23-1.07,0.41-1.74,0.51c-0.95,0.14-1.81,0.2-2.99,0.17c0,0-3.38,1.87-2.86,5.14
      C127.08,215.18,131.77,217.17,131.77,217.17z"
    />
    <path
      class="st0"
      d="M304.23,202.2c-2.21,2.19-4.59,4.37-5.94,5.24c-0.98,0.63,4.17,3.15,12.86-3.83c1.29-1.03-0.35,1.4-1.08,5.63
      c-0.6,3.51,0.17,12.16,1.88,9.54c1.31-2.01,5.81-7.01,10.8-10.21l20.48,6.66c-3.06,21.47-7.21,44.08-8.37,47.27
      c-1.55,4.25,2.61,8.49,12.36,10.13l-0.04,8.2l-45.23-1.19c0,0-35.87,14.4-47.97,18.82c-8.62,3.15-28.31,9.44-28.31,9.44l-59.41,0.21
      l-1.29,0.04c-0.02,0,0.9-1.12,2.45-4.68c2.88-6.62,5.81-9.52,3-10.77c-3.82-1.7-10.54,12.56-12.14,16.1c-0.14,0.3-0.56,0.3-0.7,0
      c-1.43-3.1-6.78-14.32-9.09-13.34c-3.32,1.4-1.53,11.31-0.8,13.36c0.04,0.11-0.03,0.22-0.15,0.23c-2.23,0.14-20.19,1.25-31.16,2.04
      c-11.72,0.84-17.43,0.16-17.43,0.16c-0.18-5.69-0.33-11.97-0.34-18.37c-0.01-11.21,4.69-13.3,8.69-21.25s1.41-19.02,9.35-33.17
      c1.52-2.72,8.14-7.98,17.83-11.49c0,0,1.51-0.51,2.22-0.76c0.47-0.16-0.47,0.28-0.67,0.51c-2.22,2.48-1.91,11.59,1.61,15.26
      c4.33,4.52,16.03,1.15,16.03,1.15c12.75,12.37,19.62,1.62,19.62,1.62l1.02-1.24c2.57,0.4,5.65,0.64,9.08-1.76
      c1.13-0.79,4.44-4.51,5.3-6.02c7.75-13.51-3.04-22.24-3.04-22.24s2.94-8.02-1.41-12.71c-3.4-3.67-5.73-4.1-8.13-4.25
      c-0.6-0.04-2.4-0.21-2.4-0.21c0.18-1.58,0.12-3.11-0.16-4.56l1.42-0.16c10.5-1.51,20.74-2.31,29.86-1.95
      c20.24,0.79,51.39-1.04,99.01,12.44"
    />
    <path
      class="st0"
      d="M154.21,181.09c-1.51,7.31-5.92,12.12-18.55,16.91c0,0,2.05,4.1-1.84,5.96c-0.49,0.23-1.07,0.41-1.74,0.51
      c-0.95,0.14-1.81,0.2-2.99,0.17l0.43-0.01c-2.52-0.72-3.49-1.35-4.56-2.25c0,0-5.89,2.5-5.56,1.71c2.18-5.29,3.24-8.53,4.32-11.51
      c0.19-0.52-1.63-1.15-2.83-2.45c-1.33-1.45-2.06-3.53-2.25-2.81c-0.94,3.41-5.68,18.7-8.32,21.36c-3.31,3.35-4.14,1.65-4.56,0.21
      c0,0-3.81-18.73-4.62-23.5c-0.34-2-4.26-0.11-6.83-1.84c-1.51-1.02,0.72,4.32,1.15,5.73c1.33,4.36,5.47,17.5,5.47,17.5
      s-2.34,4.33-5.31,5.22c-1.43,0.43-4.91,0.03-5.59-0.26c-4.28-1.8-3.55-6.86-3.82-6.96c-1.43-0.51-3.48-2.07-4.15-5.71
      c-0.95-5.16,2.2-8.37,1.65-8.2c-1.84,0.58-4.61,3.31-8.99-0.44c-5.24-4.49-3.69-8.63-3.59-8.98c0.16-0.57,0.4-1.18,0.4-1.18
      c-3.61-2.38-7.26-5.83-7.03-14.65c0.15-5.95,4.74-8.48,8.15-9.59c0.29-0.09-0.34-0.32-0.92-0.81c-2.9-2.43-6.61-8.51-2.78-18.79
      c4.09-10.98,13.11-8.24,14.64-7.71c0.24,0.09,0.98,0.34,0.98,0.34c1.88-2.84,5.8-6.56,13.15-6.19c4.45,0.22,6.72,1.74,8.35,2.92
      c0.35,0.25,0.84,0.62,0.84,0.62c1.45-0.81,3.94-1.31,8.24-0.5c2.48,0.47,5.33,2.49,6.04,3.06c2.95,2.37,3.36,4.8,3.37,7.7
      c0,0.38-0.18,1.55,0.09,1.51c1.93-0.31,3.49-0.69,5.13-0.42c5.58,0.92,9.02,4.28,7.9,10.1c-0.23,1.21-0.62,2.66-0.62,2.66
      c6.23-0.75,20.85,13.07,17.82,27.76L154.21,181.09z"
    />
    <path
      class="st0"
      d="M372,272.4c5.92-0.98,7.03-1.83,9.11-3.29c1.37-0.96,0.22-21.23-1.22-40.93c0,0,73.91-17.16,82.65-18.82
      c8.74-1.65,113.31-32.51,113.31-32.51s100.71-28.1,157.08-28.1s66.7,8.11,66.7,8.11l-0.13,141.68c0,0-32.11-0.93-37.53-0.74
      c-10.62,0.37-23.5,1.27-23.5,1.27s3.79-6.58,5.77-11.14c2.23-5.16,1.89-12.55-4.89-7.43c-4.41,3.33-8.28,14.93-8.41,19.64
      c-0.06,2.24-0.36-3.83-2.43-8.63c-1.6-3.7-6.37-1.01-6.26,4.95c0,0.14-0.18,0.18-0.23,0.05c-0.59-1.57-2.12-5.33-4.15-8.31
      c-2.65-3.88-4.71-1.9-5.04,7.26c-0.13,3.64,0.48,6.26,0.48,6.26l-4.26-0.03c-22.21-0.43-59.53,0.56-59.53,0.56l-0.1-13.63
      l-157.02-3.84l-121.24-3.19c0,0-0.04-6.1-0.57-8.96L372,272.4z"
    />
    <polygon
      class="st0"
      points="355.91,274.51 361.96,274.47 362.68,280.44 355.31,280.18 "
    />
    <path
      class="st0"
      d="M302.11,279.7c-0.25-0.01-0.5,0.04-0.74,0.13l-98.03,36.36c-0.25,0.09-0.19,0.46,0.08,0.47l261.83,9.12
      l36.54,0.83l86.07-22.39c0,0,62.77-14.81,59.43-15.36c-7.55-1.25-177.78-5.32-276.21-7.59c0,0-0.16,4.11-0.19,5.06
      c-0.08,2.16,0,8.34-0.3,10.44c-0.02,0.16,0.68-1.33,3.14-0.18c0.77,0.36,1.48,1.35,0.93,2.71c-0.4,0.99-0.5,1.88-0.54,3.29
      c-0.09,3.07,0.35,4.1-0.71,5.33c0,0,0.27,1.11,0.32,1.26c0.54,1.62,0.87,2.82,0.36,4.24c-0.4,1.1-9.2,0.4-9.77,0.29
      s-2.53-1.34-1.54-4.06l0.75-1.58c-1.09-1.21-0.64-2.63-1.09-5.33c-0.16-0.94-1.28-2.19-1.31-4c-0.02-1.49,1.24-2.02,1.99-2.32
      c0,0,1.08-0.26,1.22-0.62c0.88-2.31-0.79-11.89-1.41-14.66c-0.08-0.37-4.54-0.17-7.45-0.24c-0.27-0.01-0.25,0.86-0.28,1.28
      c-0.26,3.05-1.8,10.91-0.3,14.19c0,0,0,0,0,0c0,0,2.73,0.73,2.71,2.23c-0.02,1.81-1.15,3.06-1.31,4c-0.46,2.71,0,4.12-1.09,5.33
      l0.75,1.58c1,2.72-0.95,4.15-1.52,4.26s-9.32,0.71-9.72-0.39c-0.51-1.42-0.59-1.91,0.39-4.52c0.05-0.14,0.31-0.76,0.31-0.76
      c-1.07-1.23-0.68-2.67-0.77-5.74c-0.04-1.41-0.17-2.19-0.57-3.18c-0.55-1.35,0.26-2.35,1-2.77c2.04-1.17,3.2,0.2,3.15-0.36
      c-0.29-2.8-0.3-7.43-0.45-9.49c-0.07-1-0.36-3.06-0.53-5.62c-0.01-0.17-0.15-0.3-0.32-0.31L302.11,279.7z"
    />
    <path
      class="st0"
      d="M203.52,350.25l61.2,3.73l-9.26,24.99c0,0-97.69-4.89-103.69-5.36c-1.04-0.08-4.76-0.17-4.03-0.69l55.05-29.61
      l0.24,6.43C203.03,350.01,203.25,350.23,203.52,350.25z"
    />
    <path
      class="st0"
      d="M510.2,106.02c0.81-0.38-14.43-4.95-16.05-13.4c-2.5-13.05,10.79-14.76,31.34-16.81
      c22.7-2.26,42.65,1.88,46.67,2.8c0.29,0.07,0.56-0.18,0.51-0.47c-0.58-3.24,1.56-16.26,21.93-16.09c22.34,0.18,29.7,7.94,29.7,7.94
      c5.99-12.05,12.22-15.92,25.75-15.69c15,0.26,16.27,13.52,16.29,13.73c1.13,0,21.75-0.62,26.27-0.31
      c22.47,1.54,47.17,5.39,55.07,11.41c5.26,4,6.85,16.19-7.78,16.64c-11.17,0.34-31.54-1.69-32.28-0.95
      c-0.95,0.95,10.23,2.01,15.38,9.62c3.87,5.73,0.67,8.36-7.41,9.56c-2.3,0.34-38.61-0.57-38.61-0.57s3.84,6.52-12.68,6.89
      c-16.52,0.37-30.18-7.33-30.18-7.33c-2.34,12.15-90.55,10.19-114.04,3.69C499.74,111.05,506.81,107.63,510.2,106.02z"
    />
    <path
      class="st0"
      d="M327.95,138.02c-2.29-3.36-2.15-4.85-2.6-4.23c-1.49,2.07-0.48,8.62,1.63,9.66L327.95,138.02z"
    />
    <path
      class="st0"
      d="M387.47,131.62c0,0,4.63-3.42,6.37-0.95c1.47,2.08,1.16,7.35-0.37,9.24s-5.74,3.53-6.54,1.39L387.47,131.62z"
    />
    <path
      class="st0"
      d="M331.44,123.18c-0.97,3.75-1.19,6.7-3.38,14.1c-0.37,1.24-2.85-4.91-3.3-10.99
      c-0.45-6.14,0.75-11.87,2.92-16.76c2.85-6.39,9.17-11.22,14.15-13.49c6-2.73,11.57-5.12,20.67-3.77c9.86,1.45,13.94,3.42,16.85,5.72
      c3.08,2.43,6.4,5.98,9.03,10.77c2.31,4.19,4.69,15.39,0.87,21.01c-1.45,2.14-9.82-8.28-17.84-18.27c0,0-4.17,3.09-6.29,5.5
      c-2.24,2.55-0.35-7.19-0.7-6.84c-0.27,0.27-3.15,3.75-3.99,6.5c-0.67,2.18-2.48-6.15-2.48-6.15c-0.93,0.79-4.86,4.05-7.43,5.48
      c-2.68,1.49-4.32,2.29-5.36,2.65c-1.02,0.35-1.17-0.76-2.1-1.14c-1.12-0.45-7.21,3.24-10.34,4.4
      C332.75,121.9,331.64,122.39,331.44,123.18z"
    />
    <path
      class="st0"
      d="M367.48,165.64c-2.2-1.24-2.92-3.26-2.23-6.72c0,0-2.59,0.23-3.82,0.26c-1.25,0.03-3.4,0.3-3.4,0.3
      s0.52,2.73-0.24,5.27c-0.21,0.72-3,0.15-3,0.15s-0.47,5.27-0.38,6.47c0.09,1.19-0.06,3.09,2.42,3.35
      c2.48,0.26,11.68-0.73,11.68-0.73s1.31-0.58,1.14-2.16C369.48,170.25,368.4,166.16,367.48,165.64z"
    />
    <path
      class="st0"
      d="M335.77,184.98c-2.14,0.06-2.75-2.71-2.96-3.56c-0.37-1.47-0.57-4.6-0.04-7.28c0.72-3.64,1.14-4.19,1.14-4.19
      l4.7,0.6c0,0,0.38,4.78-0.43,7.66C337.38,181.08,335.77,184.98,335.77,184.98z"
    />
    <path
      class="st0"
      d="M378.37,218.44c-1.56,1.01-2.6,0.66-2.11-0.16c0.55-0.92,2.04-3.42,1.7-3.65c-0.39-0.25-3.67,3.07-4.31,3.33
      c-0.64,0.26-2.02-1.25-0.89-2.16c1.13-0.91,3.94-2.89,4.17-3.58c0.24-0.7-4.13,1.49-5.94,2.48c-0.49,0.27-1.65-1.61-0.56-2.14
      c1.17-0.57,5.19-2.2,4.85-2.75c-0.17-0.28-3.62,0.41-5.3,0.69c-0.6,0.1-1.11-1.94-0.11-2.29c1-0.35,4.35-0.4,6.01-0.83
      c1.35-0.35,2.04-0.37,2.37-1.58l-0.16-1.51c-0.53-6.45-0.91-10.67-0.91-10.67c4.73-2.63,13.69-10.57,13.52-11.87
      c-0.12-0.9-10.19-11.03-11.18-12.14c-0.98-1.1-2.66-1.27-5.08-2.25c-2.43-0.98-6.82-1.8-6.82-1.8s3.16,5.99,1.28,8.16
      c-0.62,0.72-10.45,1.47-13.11,0.63c-2.43-0.76-0.85-9.43-0.85-9.43s-9.64-2.11-11.24-2.34c-1-0.15-5.58-0.97-6.4-0.87
      c-0.22,0.03,1.14,6.13,1.32,8.83c0.23,3.48,0.1,6.41-0.6,8.89c-0.83,2.94-2.27,5.01-1.37,5.02c0.92,0,4.95-1.46,6.4-2.31
      c1.3-0.77,3.67-2.87,3.69-2.11c0.28,18.12-9.92,77.16-11.85,82.47c-2.06,5.67,6.01,11.31,23.98,10.82
      c17.07-0.47,19.22-2.09,22.25-4.22c1.59-1.12-0.34-29.64-2.01-51.29L378.37,218.44z"
    />
    <path
      class="st0"
      d="M348.47,163.61c2.3,0.46,9.12,1.85,9.33,1.13c0.76-2.53,0.1-6.15,0.1-6.15c-5.18,0.07-10.28-0.68-13.66-2.49
      c-3.23-1.73-7.09-5.09-7.09-5.09s-0.06,1.99-0.31,4.32c-0.28,2.53-0.76,4.23-1.74,5.67C335.11,161,345.13,162.95,348.47,163.61z"
    />
    <path
      class="st0"
      d="M385.22,146.74c0,0-2.66,4.39-6.96,7.04c-2.56,1.58-7.12,3.34-12.8,4.23c0,0-0.54,4.14,0.2,5.88
      c0.72,1.69,2.29,1.57,4.23,2.01c1.93,0.44,7.08,1.65,7.08,1.65c0.96-0.94,4.71-5.71,6.84-10.99
      C385.88,151.44,385.22,146.74,385.22,146.74z"
    />
    <path
      class="st0"
      d="M334.44,146.57c2.53,5.33,6.78,7.82,10.01,9.55c7.91,4.23,24.67,2.43,31.85-1.2c5.28-2.67,7.59-5.97,9.23-11.01
      c1.81-5.57,2.04-13.46,1.38-14.81l-0.11-0.17c-2.32-1.66-7.35-7.61-15.37-17.44c0,0-4.17,3.04-6.29,5.42
      c-2.24,2.51-0.35-7.08-0.7-6.74c-0.27,0.26-3.15,3.69-3.99,6.39c-0.67,2.15-2.48-6.05-2.48-6.05c-0.93,0.77-4.86,3.99-7.43,5.39
      c-2.68,1.46-4.32,2.26-5.36,2.61l0.31,0.9c0,0,0.17,0.51,0.12,0.67c-0.28,0.79-1.83,1.39-1.85,1.85c-0.03,0.65,0.24,0.89-0.42,1.35
      c-0.52,0.37-4.13,2.65-4.78,3.77c0,0-0.86,4.33-3.92,5.99c-0.32,0.17-0.8,4.9-0.92,5.77C333.1,143.41,333.83,145.28,334.44,146.57z"
    />
    <g>
      <path
        class="st0"
        d="M310.51,52.03c-22.19-1.28-40.44,1.03-42.88,1.76c0,0,45.32-5.14-4.79-10.22c-9.98-1.01-46.45,1.91-46.45,1.91
        s-10.25-14.07-24.01-14.02c-13.34,0.04-30.53,10.44-36.8,20.46l-1.19-0.14c-10.08-1.56-24.48,0.44-34.08,2.18
        c-10.76,1.95-21.45,3.32-28,8.52c-8.71,6.91,5.98,10.39,5.98,10.39c-9.7,0.93-15.74,2.96-19.05,4.94
        c-4.33,2.58-5.75,9.86-1.58,12.72c5.8,3.99,37.31,4.11,48.82,4.11c25.75,0,36.84-6.49,36.84-6.49s0.06,12.6,28.93,10.5
        c19.66-1.43,38.42-5.28,38.42-5.28c21.74-0.39,29.48-3.82,32.86-5.31c5.42-2.39,3.2-5.72,3.2-5.72c9.84,0.5,20.91,0.77,26.22,0.4
        c5.41-0.38,14.88-0.56,17.71-3.5c4.07-4.24,1.25-8.62-2.7-8.95l-1.09-0.13c16.89-0.83,35.1-2.68,35.71-6.77
        C343.74,55.6,328.44,53.07,310.51,52.03z"
      />
    </g>
    <path
      class="st0"
      d="M335.77,185c-2.18,0.15-2.8-2.71-3.02-3.56c-0.37-1.47-0.58-4.61-0.04-7.3c0.73-3.65,1.16-4.2,1.16-4.2
      l-3.58-0.61c-0.94,6.7-4.41,6.21-6.85,9.28c-5.51,6.93-8.66,1.42-14.76,6.93c-3.95,3.56-2.86,8.77-11.03,12.11
      c-1.27,0.52,11.75-1.5,11.59-1c-0.29,0.91-8.06,8.92-10.96,10.8c-0.98,0.63,4.17,3.15,12.86-3.83c1.29-1.03-0.35,1.4-1.08,5.63
      c-0.6,3.51,0.17,12.16,1.88,9.54c1.71-2.62,9.98-11.39,15.91-12.79c4.77-1.12,7.9-1.9,11.21-4.09c3.2-2.12,6.88-10.36,6.88-10.36
      l0.7-11.6c0,0-1.9,1.78-5.05,3.08S336.56,184.95,335.77,185z"
    />
    <path
      class="st0"
      d="M683.44,426.64l100.35-33.8c1.56-0.52,2.48,0.32,2.53,1.97l0.39,45.33c0.04,1.17-0.67,2.23-1.75,2.65
      L657.89,491.3c0,0-1.57-7.21-3.06-7.12c-1.4,0.08-2.1,8.91-2.1,8.91l-122.59,46.82c-1.16,0.38-2.36-0.46-2.41-1.69l-2.2-59.3
      l130.03-43.06L683.44,426.64z"
    />
    <path
      class="st0"
      d="M527.6,539.45c0,0-153.63-10.77-154.49-10.49c-0.74,0.25-0.51-42.23-0.52-54.7c0-1.78,1.38-3.25,3.15-3.15
      l149.24,8.21L527.6,539.45z"
    />
    <path
      class="st0"
      d="M710.35,382.31l73.09,10.86c0.14,0.02,0.16,0.22,0.02,0.26l-16.52,5.6l-156.78,51.98l-85.51,27.83l-152-7.32
      l28.08-31.44l20.92-0.56l95.65,3.96l117-35.84L710.35,382.31"
    />
    <path
      class="st0"
      d="M224.4,461.1l-137.47-9.12c-0.91-0.05-3.22-0.42-3.22,0.5l-0.04,56.57c0,0.7,0.55,1.28,1.24,1.33l51.4,3.03
      c0,0-0.47-10.89,3.16-11.08c3.96-0.2,4.3,12.56,4.3,12.56l59.32,2.36L224.4,461.1z"
    />
    <g>
      <path
        class="st0"
        d="M479.68,578.29c-1.55-0.98-4.83-3.67-4.83-3.67s0.18,0.77,1,4.01s-1.6,8.47-2.77,9.3
        c-1.17,0.82-5.23,0.91-6.96-0.22s-1.95-2.72-2.72-6.27c-0.78-3.55,0.65-5.53,0.65-5.53s-0.78,1.38-4.67,4.19
        c-3.89,2.81-7.74,0.39-9.6-1.38c-1.86-1.77-1.82-6.18,0.39-9.3c2.21-3.11,7.31-3.98,7.31-3.98c-0.8-0.1-2.14-0.62-2.9-0.82
        c-0.75-0.2-2.23-0.65-3.46-1.69c-0.86-0.72-1.32-1.94-1.42-2.67c-0.1-0.73-0.08-1.49,0.05-2.23c0.07-0.37,0.14-0.74,0.26-1.08
        c0.05-0.18,0.34-0.87,0.42-1.04c0.33-0.7,0.72-1.37,1.18-1.97c0.92-1.2,1.91-2.33,3.35-2.58c1.42-0.27,3.34,0.08,4.14,0.66
        c0.99,0.73,2.48,1.8,3.08,2.35c0,0-1.32-3.6-1.55-4.52c-0.06-0.23-0.65-2.5-0.66-3.36c-0.01-0.79,0.36-2.17,0.95-3.01
        c0.15-0.2,0.35-0.43,0.54-0.58c0.19-0.16,0.39-0.31,0.61-0.43c0.42-0.26,1.39-1.17,2.74-1.01c1.06,0.3,1.5,0.79,1.71,0.94
        c0.83,0.59,1.52,1.2,2.39,2.42c0.76,1.17,1.75,2.85,2.39,4.43c0.97,2.39,1.07,6.03,1.11,6.5c0,0,0.71-1.31,2.16-2.97
        c1.54-1.78,3.66-2.72,4.47-2.97c0.82-0.25,1.65-0.42,2.51-0.49c0.86-0.07,1.77-0.07,2.71,0.29c0.77,0.31,1.87,0.83,2.6,1.54
        c1.67,1.63,1.65,3.75,1.63,4.25c-0.03,1.02-0.61,2.89-0.82,2.8c-0.6-0.29-3.29-0.68-6.26,0c-1.78,0.41-4.67,2-5.16,5.24
        c-0.54,3.61,1.79,8.4,8.48,9.1c0,0-1.66,1.46-2.97,2.8C480.62,576.45,479.68,578.29,479.68,578.29z"
      />
    </g>
    <g>
      <path
        class="st0"
        d="M53.99,489.55c-0.42,0.08-2.05-0.11-2.53-0.28c-0.8-0.28-1.64-0.96-2.06-1.38c-2.73-2.71-3.4-6.52-2.12-9.95
        c0.22-0.58,0.59-1.41,1.36-2.03c1.28-1.03,3.06-1.09,4.45-0.91c2.22,0.29,6.42,1.93,5.54,0.88c-2.78-3.32-3.91-5.37-3.95-6.69
        c-0.05-1.38,1.15-2.75,1.96-3.45c2.87-2.49,6.48-4.15,10.16-4.65c3.1-0.43,5.54,0.52,6.55,2.52c0.7,1.38,0.27,4.95,0.27,4.95
        c2.01-2.97,4.72-5.46,6.98-5.03c1.12,0.21,2.69,1.07,4,2.15l0.24,27.68c-2.25,2.29-4.36,4.08-5.86,4.93
        c-1.12,0.63-3.86,1.33-4.98,1.42c-4.49,0.34-5.91-3.75-6-3.17c-0.49,3.08-2.73,4.59-4.69,4.34c-3.86-0.15-5.91-0.63-7.81-2.29
        c-0.53-0.69-2.88-2.64-1.99-5.95C53.84,491.26,53.99,489.55,53.99,489.55z"
      />
    </g>
    <path
      class="st0"
      d="M293.35,321.4l-80.64,211.58l-6.52-0.38c-0.61-0.06-8.7-0.63-8.48-1.2l79.66-210.49
      C277.56,320.41,293.35,321.4,293.35,321.4z"
    />
    <path
      class="st0"
      d="M330.24,543.97l77.6-219.03c0,0,5.64-0.04,7.87,0.26c1.33,0.18,6.89,0,6.65,0.67l-77.15,219.69L330.24,543.97z"
    />
    <g>
      <path
        class="st0"
        d="M485.71,572.3c1.84-0.12-3.24-0.15-4.91-0.84c-1.83-0.99-3.06-2.07-3.61-2.97c-0.13-0.23-1.05-1.6-0.93-3.73
        c0.23-3.14,0.84-3.28,1.63-4.6c0.63-0.64,1.4-1.79,5.59-2.18c2.5-0.23,4.51,0.14,5.85,0.7c0.81,0.34,2.69,1.48,3.01,1.79
        c0,0,0.17-5.9,1.92-8.96s6.77-5.07,8.04-4.28c1.27,0.79,3.41,0.92,3.76,6.64c0,0-0.83,5.11-1.14,5.94
        c-0.31,0.83,0.7-1.97,5.02-4.28s7.56,2.18,7.56,2.18s3.45,3.76-0.83,8.39c-4.28,4.63-7.69,4.02-7.69,4.02s4.06,1.53,5.33,3.67
        c1.27,2.14,4.67,8.48,1.49,11.93c-3.19,3.45-7.6,1.75-8.39,0.44s-5.42-6.95-5.42-6.95l-0.04,8.61c0,0-0.09,4.19-3.54,6.47
        c-3.45,2.27-8.34-0.31-8.87-3.1c-0.52-2.8,0.44-7.82,0.44-7.82s-3.58,3.84-5.81,3.93c-2.23,0.09-4.5-0.79-5.37-3.54
        C477.93,581,480.59,575.01,485.71,572.3z"
      />
    </g>
    <polygon
      class="st0"
      points="345.16,544.87 373.12,528.09 373.12,470.59 401.26,437.04 402.65,388.81 422.93,366.09 422.75,325.2
      393.92,406.28 371.37,470.25 "
    />
    <path
      class="st0"
      d="M344.54,206.85c7.06-3.57,29.49-5.62,32.79-4.04l-0.32-4.13c-6.96-2.33-25.27-0.46-31.94,3.39L344.54,206.85z"
    />
    <path
      class="st0"
      d="M359.33,184.08c0,0-1.1-3.21-0.32-4.91c0.71-1.54,1.47-1.79,3.44-1.15c1.97,0.64,5.44,1.51,5.49,2.97
      c0.05,1.47-2.19,3.58-2.19,3.58s2.28-0.19,3.03-0.05c1.23,0.23,2.61,1.83,1.88,5.18c-0.77,3.53-2.8,3.94-2.8,3.94
      s-1.7-0.28-2.84-1.28c-0.11-0.1,0.5,2.34,0,2.71c-0.5,0.37-1.97,1.47-5.46,0.5c-3.26-0.9-3.46-3.06-3.21-4.4
      c0.08-0.44,0.5-1.47,0.5-1.47s-1.83,0.64-2.84,0.64s-2.57-2.2-2.61-4.27c-0.05-2.06,0.87-4.49,1.79-4.77
      c0.44-0.13,1.38-0.55,3.67,1.15C359.15,184.18,359.33,184.08,359.33,184.08z"
    />

    <path
      class="st0"
      d="M378.23,205.8c-0.09,1.25-1.01,1.23-2.37,1.58c-1.66,0.43-5.01,0.48-6.01,0.83c-1,0.35-0.48,2.39,0.11,2.29
      c1.67-0.28,5.12-0.97,5.3-0.69c0.34,0.55-3.68,2.18-4.85,2.75c-1.08,0.53,0.07,2.41,0.56,2.14c1.81-0.99,6.18-3.18,5.94-2.48
      c-0.23,0.69-3.05,2.67-4.17,3.58c-1.12,0.91,0.26,2.41,0.89,2.16c0.64-0.26,4-3.56,4.39-3.31c0.35,0.22-1.22,2.37-1.77,3.28
      c-0.49,0.82,0.4,2.04,1.95,0.57c0,0,2.08-2.15,3.34-3.92s1.59-4.03,1.59-4.03l0.71-0.56c0,0,12.43-13.37,13.1-16.36
      c0.35-1.55-6.78-10.41-6.78-10.41s-1.96,2.09-2.66,2.75c-1.04,0.99-3.01,2.61-3.01,2.61s4.81,5.67,4.56,6.08
      c-1.33,2.15-8.29,10.14-8.29,10.14l-2.84-1.56C377.94,203.21,378.28,205.15,378.23,205.8z"
    />
    <path
      class="st0"
      d="M330.92,125.47c0.15-0.84,0.06-2.59,1.7-3.35c2.75-1.28,3.79-2.1,5.75-3.04c2.28-1.09,3.75-2.02,4.21-1.84
      c1.31,0.51,2.12,1.17,2.92,2.3c0,0,0.17,0.52,0.12,0.68c-0.28,0.8-1.9,1.08-1.92,1.55c-0.03,0.66,0.31,1.24-0.35,1.7
      c-0.52,0.37-4.13,2.69-4.78,3.83c0,0-0.86,4.4-3.92,6.08c-0.32,0.18-0.48,2.63-0.61,3.52c-0.27,1.87-2.29,20.45-3.39,23.75
      c0,0,1.04,0.09,1.86,0.2c1.76,0.22,2.43,0.39,4.61,0.9l1.33,8.56c-6.24-0.32-13.92-2.25-15.18-4.87
      c-0.83-1.73,5.49-30.13,5.77-30.95C329.79,132.27,330.7,126.74,330.92,125.47z"
    />
    <g>
      <path
        class="st0"
        d="M290.81,335.68"
      />
      <path
        class="st0"
        d="M304.11,424.16"
      />
      <polygon
        class="st0"
        points="220.95,533.39 222.15,518 232.65,502.62 232.31,489.68 242.98,475.05 243.14,461.11 253.03,447.67
        253.53,434.29 263.14,420.21 263.76,406.09 274.88,391.66 274.88,377.11 285.45,362.33 285.45,348.94 295.79,334.52 296.53,321.73
        293.23,321.68 213.23,532.64   "
      />
      <polygon
        class="st0"
        points="220.95,533.39 222.15,518 232.65,502.62 232.31,489.68 242.98,475.05 243.14,461.11 253.03,447.67
        253.53,434.29 263.14,420.21 263.76,406.09 274.88,391.66 274.88,377.11 285.45,362.33 285.45,348.94 295.79,334.52 296.28,321.7
        407.85,324.93 330.24,543.97   "
      />
      <line
        class="st0"
        x1="393.83"
        y1="338.87"
        x2="295.79"
        y2="334.52"
      />
      <line
        class="st0"
        x1="384"
        y1="353.78"
        x2="285.95"
        y2="349.42"
      />
      <line
        class="st0"
        x1="384"
        y1="366.78"
        x2="285.95"
        y2="362.43"
      />
      <line
        class="st0"
        x1="373.21"
        y1="381.37"
        x2="275.17"
        y2="377.02"
      />
      <line
        class="st0"
        x1="373.21"
        y1="395.96"
        x2="275.17"
        y2="391.61"
      />
      <line
        class="st0"
        x1="361.79"
        y1="410.55"
        x2="263.75"
        y2="406.2"
      />
      <line
        class="st0"
        x1="361.48"
        y1="424.51"
        x2="263.43"
        y2="420.15"
      />
      <line
        class="st0"
        x1="351.96"
        y1="439.1"
        x2="253.92"
        y2="434.74"
      />
      <line
        class="st0"
        x1="351.01"
        y1="452.1"
        x2="252.97"
        y2="447.75"
      />
      <line
        class="st0"
        x1="341.49"
        y1="466.06"
        x2="243.45"
        y2="461.71"
      />
      <line
        class="st0"
        x1="341.18"
        y1="479.38"
        x2="243.13"
        y2="475.03"
      />
      <line
        class="st0"
        x1="337.69"
        y1="493.97"
        x2="232.67"
        y2="490.25"
      />
      <line
        class="st0"
        x1="330.08"
        y1="509.83"
        x2="232.67"
        y2="502.94"
      />
      <line
        class="st0"
        x1="327.54"
        y1="523.78"
        x2="222.2"
        y2="518.8"
      />
    </g>
    <g>
      <path
        class="st0"
        d="M498.09,564.31c-1.29,0-2.54,0.84-3.3,1.66c-1.36,1.48-1.93,3.49-1.44,5.1c0.32,1.05,1.83,2.7,3.37,3.36
        c0.56,0.24,1.05,0.3,1.32,0.16h0c2.67-1.31,4.44-4.02,4.24-5.56c-0.23-1.81-1.76-4.17-3.47-4.62
        C498.58,564.34,498.33,564.31,498.09,564.31z"
      />
    </g>
    <g>
      <g>

        <path
          class="st0"
          d="M471.92,561.12c-1.02-0.63-2.24-0.67-3.36-0.25c-0.56,0.2-1.1,0.51-1.56,0.89c-0.23,0.19-0.44,0.4-0.63,0.62
          c-0.16,0.19-0.39,0.54-0.6,0.82c-0.42,0.59-0.82,1.17-1.1,1.73c-0.29,0.59-0.35,1.03-0.21,1.66c0.12,0.58,0.5,1.05,0.96,1.49
          c0.5,0.47,0.92,0.85,1.42,1.2c0.48,0.36,1.03,0.63,1.56,0.8c0.55,0.16,1,0.21,1.55,0.05c1.08-0.31,2.15-1.23,2.95-2.34
          c0.21-0.29,0.39-0.54,0.53-0.82c0.15-0.28,0.25-0.58,0.33-0.89c0.15-0.62,0.16-1.28,0.04-1.92
          C473.58,562.89,472.85,561.67,471.92,561.12z"
        />
      </g>
    </g>
    <g>
      <path
        class="st0"
        d="M69.1,477.64c-1.08,0-2.65,0.71-3.67,1.17l-0.21,0.09c-0.38,0.17-0.79,0.38-1.02,0.65
        c-0.33,0.39-0.43,1.08-0.52,1.88c-0.15,1.35-0.25,2.64,0.3,3.48c0.28,0.44,2.12,1.54,4.41,1.69c1.18,0.08,1.71-0.5,2.26-1.12
        c1.38-1.55,1.63-2.27,1.6-2.59v0c-0.26-2.45-1.29-4.55-2.48-5.12C69.57,477.68,69.35,477.64,69.1,477.64z"
      />
    </g>
    <g>
      <path
        class="st1"
        d="M382.54,129c-0.21,2.09-0.77,4.29-2.25,5.99c-0.18,0.21-0.37,0.42-0.58,0.6c-0.2,0.19-0.42,0.37-0.65,0.52
        c-0.45,0.33-0.91,0.66-1.42,0.92c-1.01,0.53-2.14,0.81-3.26,0.86c-2.34-0.06-4.44-1.2-6.02-2.73c-0.8-0.77-1.48-1.65-2.03-2.66
        c-0.53-1.01-0.84-2.23-0.67-3.42c0.15-1.14,0.5-2.18,1.01-3.17c0.51-0.98,1.13-1.91,1.92-2.67c0.8-0.75,1.64-1.44,2.62-1.94
        c0.97-0.49,2.07-0.77,3.17-0.71c2.15,0.11,4.24,0.99,5.82,2.49c0.78,0.75,1.43,1.65,1.85,2.68
        C382.46,126.77,382.63,127.89,382.54,129z"
      />
    </g>
    <g>
      <path
        class="st1"
        d="M378.29,119.68C378.29,119.68,378.3,119.68,378.29,119.68c-0.05-0.07-0.1-0.13-0.12-0.16
        c-0.05-0.06-0.14-0.17-0.16-0.19c-0.07-0.08-0.14-0.16-0.21-0.23c-0.14-0.16-0.29-0.31-0.42-0.47c-0.25-0.3-0.45-0.61-0.62-0.94
        c-0.03-0.05-0.07-0.1-0.1-0.16c0.01,0,0.01-0.01,0.02-0.01c-0.01-0.01-0.01-0.02-0.02-0.03c-1.28-0.51-2.65-0.85-4.07-0.91
        c-1.43-0.07-2.92,0.17-4.3,0.73c-0.03,0.01-0.06,0.03-0.09,0.04c-0.54,0.28-0.75,0.95-0.47,1.49c0.28,0.54,0.95,0.75,1.49,0.47
        l0.01-0.01c1.02-0.53,2.16-0.84,3.36-0.9c1.19-0.07,2.43,0.11,3.62,0.46C376.92,119.07,377.62,119.35,378.29,119.68
        C378.29,119.68,378.29,119.68,378.29,119.68z"
      />
    </g>
    <path
      class="st0"
      d="M62.69,393.11c0,0,0.32-20.62,10.47-19.98c6.65,0.42,6.14,10.15,8.88,19.03"
    />
    <path
      class="st0"
      d="M99.8,389.3c0,0,0.32-20.62,10.47-19.98c6.65,0.42,6.14,10.15,8.88,19.03"
    />
    <g>
      <path
        class="st1"
        d="M349.62,117.82c-1.36-0.25-2.75-0.27-4.1-0.07c0.01,0.01,0.02,0.02,0.03,0.03c0.1,0.15,0.17,0.33,0.23,0.5
        c0.06,0.17,0.07,0.36,0.09,0.53c0.02,0.18,0.01,0.36-0.02,0.54c0,0.11-0.02,0.21-0.04,0.31c1.11-0.04,2.21,0.1,3.26,0.4l0.03,0.01
        c0.04,0.01,0.07,0.02,0.11,0.03c0.63,0.12,1.24-0.3,1.35-0.93C350.66,118.54,350.25,117.94,349.62,117.82z"
      />
    </g>
    <path
      class="st1"
      d="M352.72,126.41c-0.4-0.97-1.04-1.82-1.8-2.53c-1.53-1.41-3.57-2.25-5.66-2.35c-0.44-0.02-0.88,0.02-1.31,0.1
      c-0.01,0.03-0.03,0.05-0.04,0.08c-0.03,0.67,0.32,1.24-0.36,1.71c-0.54,0.37-4.27,2.7-4.94,3.85c0,0-0.27,1.31-1.02,2.77
      c-0.2,0.41-0.44,0.84-0.72,1.25c0.12,0.53,0.31,1.03,0.56,1.5c0.53,0.96,1.2,1.79,1.98,2.52c1.53,1.44,3.58,2.52,5.85,2.58
      c1.09-0.05,2.19-0.31,3.17-0.82c0.49-0.24,0.94-0.55,1.38-0.87c0.23-0.15,0.44-0.31,0.63-0.49c0.21-0.17,0.39-0.37,0.57-0.56
      c1.43-1.61,1.98-3.68,2.18-5.66C353.29,128.44,353.13,127.37,352.72,126.41z"
    />
    <path
      class="st3"
      d="M375.37,120.6c-3.24-0.38-7.27,2.79-7.5,6.4c-0.26,4.07,2.38,7.3,6.4,8.18c4.48,0.98,7.94-2.3,8.2-6.14
      C382.74,125.2,379.25,121.06,375.37,120.6z"
    />
    <path
      class="st1"
      d="M377.05,126.44c-1.25-0.08-2.31-1.22-2.58-2.59c-0.24-1.21,1.12-1.87,2.37-1.79c1.25,0.08,2.2,1.33,2.12,2.56
      C378.87,125.85,378.07,126.5,377.05,126.44z"
    />
    <path
      class="st3"
      d="M345.86,121.68c-0.73-0.02-1.45,0.11-2.14,0.34c0.03,0.13,0.03,0.27,0.02,0.4c0.04,0.4,0.04,0.75-0.39,1.06
      c-0.03,0.02-0.09,0.06-0.15,0.1c-0.53,0.56-1.05,1.11-1.67,1.58c-0.56,0.42-1.13,0.88-1.82,1.01c-0.02,0.07-0.06,0.14-0.1,0.21
      c-0.16,0.23-0.31,0.46-0.49,0.68c-0.04,0.04-0.08,0.08-0.12,0.12c-0.07,0.37-0.1,0.75-0.09,1.13c0.12,3.64,2.57,6.8,6.43,7.51
      c4.29,0.79,7.47-2.5,7.58-6.22C353.02,125.87,349.56,121.79,345.86,121.68z"
    />
    <path
      class="st1"
      d="M347.83,126.95c-1.19-0.04-2.24-1.1-2.54-2.41c-0.27-1.16,1-1.85,2.19-1.82c1.19,0.04,2.14,1.21,2.11,2.4
      C349.54,126.32,348.81,126.98,347.83,126.95z"
    />
    <g>
      <path
        class="st2"
        d="M360.47,143.01c1.64-2.06,2.6-2.64,2.91-3.38c0.26-0.63-2.22-1.9-4.43-3.48"
      />
    </g>
    <g>
      <path
        class="st2"
        d="M365.74,148.76"
      />
      <path
        class="st2"
        d="M355.59,147.14c0.13,0.04,0.25,0.1,0.35,0.18c1.21,0.92,2.85,1.28,4.43,1.22c1.57-0.06,3.2-0.51,4.36-1.44"
      />
    </g>
    <text
      xml:space="preserve"
      class="text-number"
      x="177.33"
      y="62.150002"
    >12</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="372.10791"
      y="42.56601"
    >4</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="20.604141"
      y="162.47279"
    >8</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="98.604141"
      y="160.47279"
    >8</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="156.60414"
      y="222.47279"
    >3</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="84.604141"
      y="282.47278"
    >2</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="40.604134"
      y="282.47278"
    >5</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="80.038681"
      y="558.677"
    >8</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="152.91394"
      y="489.73254"
    >7</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="160.91394"
      y="445.73254"
    >10</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="166.91394"
      y="401.73254"
    >7</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="201.75905"
      y="367.444"
    >10</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="221.75905"
      y="341.444"
    >7</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="461.75903"
      y="305.444"
    >10</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="451.75903"
      y="351.444"
    >12</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="431.75903"
      y="419.444"
    >7</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="413.75903"
      y="509.444"
    >7</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="441.75903"
      y="385.444"
    >10</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="417.75903"
      y="461.444"
    >10</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="555.75903"
      y="333.444"
    >2</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="581.75903"
      y="399.444"
    >2</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="601.75903"
      y="485.444"
    >2</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="351.65076"
      y="254.61398"
    >1</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="311.65076"
      y="196.61398"
    >11</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="347.65076"
      y="108.61398"
    >11</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="559.14294"
      y="246.62424"
    >5</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="719.14294"
      y="546.62427"
    >8</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="597.14294"
      y="86.624237"
    >12</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="475.14297"
      y="80.624237"
    >7</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="470.56299"
      y="109.15779"
    >10</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="81.489594"
      y="237.97742"
    >5</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="74.539001"
      y="479.6886"
    >9</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="490.539"
      y="589.6886"
    >9</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="452.2034"
      y="578.77753"
    >6</text>
    <text
      xml:space="preserve"
      class="text-number"
      x="240.85675"
      y="249.41429"
    >5</text>
  </svg>
</template>

<style scoped>
.st0 {
  fill: #fff;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: 3;
}

.st1 {
  fill: #fff;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st2 {
  fill: none;
  stroke: #1d1d1b;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: 2;
}

.st3 {
  fill: #000;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.text-number {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0;
  word-spacing: 0;
}
</style>
