<template>
  <div class="screen">
    <router-link
      :to="{ name: 'Menu' }"
      class="back"
    >
      Regresar
    </router-link>
    <div class="game">
      <div class="roulette">
        <div
          v-if="color"
          class="color_information"
          @click="playColorSound"
        >
          <div>
            <img :src="require('@/assets/play.svg')">
          </div>
          <div>
            <p class="traduction">
              {{ color.traduction }}
            </p>
            <p class="original">
              {{ color.name }}
            </p>
          </div>
        </div>
        <img
          class="indicator"
          :src="require('@/assets/rouletteIndicator.svg')"
        >
        <img
          ref="circle"
          class="circle"
          :src="require('@/assets/colorsCircle.svg')"
        >
      </div>
      <img
        class="spinner"
        :src="require('@/assets/rouletterSign.svg')"
        @click="spinRoulette"
      >
    </div>
  </div>
</template>

<script>
import colors from '@/utils/colors'

export default {
  name: 'ColorsRoulette',
  data: () => ({
    audio: new Audio(),
    position: 0,
    color: null
  }),
  methods: {
    spinRoulette () {
      const angle = Math.floor(Math.random() * (1000 - 540)) + 540
      this.position += angle
      this.color = null
      this.$refs.circle.style.transform = `rotate(${this.position}deg)`
      setTimeout(() => {
        const index = Math.floor(this.position / 30) % 12
        this.color = colors[index]
        this.playColorSound()
      }, 3000)
    },
    playColorSound () {
      this.audio.pause()
      this.audio.src = this.color.sound
      this.audio.play()
    }
  }
}
</script>

<style lang="scss" scoped>
.screen {
  position: relative;
  min-height: 100vh;
  padding: 1em;
  background: url('~@/assets/background.png') no-repeat center / cover;
}

.back {
  font-size: 3em;
  color: #703d25;
  text-decoration: none;
}

.color_information {
  position: absolute;
  top: 5em;
  left: 50%;
  z-index: 2;
  display: flex;
  width: 30em;
  padding: 2em;
  cursor: pointer;
  background: url('~@/assets/papiro.png') no-repeat center / 100% 100%;
  transform: translateX(-50%);

  p {
    margin: 0;
    line-height: 1;
  }

  .traduction {
    font-size: 3em;
    color: #824726;
  }

  .original {
    font-size: 2em;
    color: #2f80ed;
  }
}

.game {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .roulette {
    position: relative;
    width: 30em;
    height: 22em;
    padding: 2em 2em 2em 6em;
    margin: 1em;
    background: url('~@/assets/play.svg') no-repeat center / 100% 100%;
  }

  .indicator {
    position: absolute;
    top: 0;
    left: 12.5em;
    z-index: 1;
    width: 5em;
    height: 5em;
  }

  .circle {
    width: 18em;
    padding: 1em;
    background: #fcf1d4;
    border-radius: 50%;
    transition: all 2.5s ease-out;
  }

  .spinner {
    cursor: pointer;
  }
}
</style>
