<template>
  <div class="screen">
    <router-link
      :to="{ name: 'Menu' }"
      class="back"
    >
      Regresar
    </router-link>
    <div class="options">
      <router-link
        v-if="page > 1"
        :to="{ name: 'ColorsMenu', query: { page: page - 1 } }"
        class="arrow arrow--left"
      >
        <img :src="left">
      </router-link>
      <router-link
        v-if="page < pages"
        :to="{ name: 'ColorsMenu', query: { page: page + 1 } }"
        class="arrow arrow--right"
      >
        <img :src="right">
      </router-link>
      <div
        v-for="illustration in options"
        :key="illustration.name"
        class="option"
      >
        <router-link :to="{ name: 'ColorsDraw', params: { name: illustration.name } }">
          <component :is="illustration.image" />
        </router-link>
      </div>
    </div>
    <p class="paginator">
      Pagina {{ page }}
    </p>
  </div>
</template>

<script>
import illustrations from '@/utils/illustrations'
import right from '@/assets/right.svg'
import left from '@/assets/left.svg'

export default {
  name: 'Menu',
  data: () => ({
    illustrations,
    page: 1,
    pages: Math.ceil(illustrations.length / 4),
    options: [],
    right,
    left
  }),
  watch: {
    $route () {
      this.calculateOptions()
    }
  },
  beforeMount () {
    this.calculateOptions()
  },
  methods: {
    calculateOptions () {
      const { page } = this.$route.query

      this.page = parseInt(page || 1, 10)
      this.options = this.illustrations.slice((this.page - 1) * 4, this.page * 4)
    }
  }
}
</script>

<style lang="scss" scoped>
.screen {
  min-height: 100vh;
  padding: 1em 2em;
  background: url('~@/assets/background.png') no-repeat center / cover;
}

.back {
  font-size: 2.5em;
  color: #703d25;
  text-decoration: none;
}

.options {
  position: relative;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  row-gap: 1.5em;
  column-gap: 1.5em;
  width: min-content;
  margin: 0 auto;

  @media (min-width: 60em) {
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    img {
      width: 10em;
    }

    &--left {
      left: -10em;
    }

    &--right {
      right: -10em;
    }
  }
}

.option {
  width: 15em;
  height: 9em;
  padding: 1.5em 1em;
  margin: auto;
  background: url('~@/assets/papiro.png') no-repeat center / 100% 100%;

  @media (min-width: 30em) {
    width: 20em;
    height: 12em;
  }

  @media (min-width: 60em) {
    width: 25em;
    height: 15em;
  }

  a {
    color: #000;
  }

  svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid transparent;

    &::v-deep .st0 { // stylelint-disable-line selector-pseudo-element-no-unknown
      fill: transparent !important;
    }
  }
}

.paginator {
  margin: 0;
  font-size: 2em;
  color: #fff;
  text-align: center;
}
</style>
