<template>
  <div class="screen">
    <router-link
      :to="{ name: 'ColorsMenu' }"
      class="back"
    >
      Regresar
    </router-link>
    <div
      class="color_information"
      @click="playColorSound"
    >
      <div>
        <img :src="require('@/assets/play.svg')">
      </div>
      <div>
        <p class="traduction">
          {{ color.traduction }}
        </p>
        <p class="original">
          {{ color.name }}
        </p>
      </div>
    </div>
    <div class="game">
      <div class="toolbar">
        <div class="colors">
          <div
            class="colors__current"
            :style="{background: color.code}"
            @click="playColorSound"
          />
          <div class="colors__grid">
            <div
              v-for="color in colors"
              :key="color.name"
              :style="{background: color.code}"
              class="color"
              @click="setColor(color)"
            >
              {{ color.id }}
            </div>
          </div>
        </div>
      </div>
      <div
        class="draw"
        @click="onClick"
      >
        <component
          :is="draw.image"
          v-if="draw"
        />
      </div>
    </div>
  </div>
</template>

<script>
import colors from '@/utils/colors'
import illustrations from '@/utils/illustrations'

export default {
  name: 'ColorsDraw',
  data: () => ({
    audio: new Audio(),
    draw: {},
    color: null,
    colors
  }),
  beforeMount () {
    const color = this.colors[0]
    this.color = color
    this.audio.src = color.sound
    this.draw = illustrations.find((element) => element.name === this.$route.params.name)
  },
  methods: {
    onClick (e) {
      if (e.target.classList.contains('st0')) {
        e.target.style.fill = this.color.code
      }
      this.playColorSound()
    },
    setColor (color) {
      this.color = color
      this.playColorSound()
    },
    playColorSound () {
      this.audio.pause()
      this.audio.src = this.color.sound
      this.audio.play()
    }
  }
}
</script>

<style lang="scss" scoped>
.screen {
  position: relative;
  min-height: 100vh;
  padding: 1em;
  background: url('~@/assets/background.png') no-repeat center / cover;
}

.back {
  font-size: 2.5em;
  color: #703d25;
  text-decoration: none;
}

.color_information {
  position: fixed;
  top: 2em;
  right: 2em;
  display: flex;
  cursor: pointer;

  p {
    margin: 0;
    line-height: 1;
  }

  .traduction {
    font-size: 2em;
    color: #fcf1d4;
  }

  .original {
    font-size: 1.5em;
    color: #703d25;
  }
}

.game {
  display: flex;
  justify-content: space-evenly;
}

.draw {
  width: max-content;
  padding: 3em;
  text-align: center;
  background: url('~@/assets/papiro.png') no-repeat center / 100% 100%;

  svg {
    width: 40em;
    cursor: url('~@/assets/brush.svg') 15 40, auto;
    border: 1px solid transparent;
  }
}

.toolbar {
  width: max-content;
  height: max-content;
  padding: 2em 0.5em;
  background: url('~@/assets/toolbar.png') no-repeat center / 100% 100%;
}

.colors {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 45em;
  padding: 1em;

  &__current {
    position: relative;
    flex: 0 0 auto;
    width: 5em;
    height: 5em;
    margin: 1em;
    border: solid 1px #000;
    border-radius: 50%;

    &::after {
      position: absolute;
      top: -1em;
      right: -1em;
      width: 7em;
      height: 7em;
      content: '';
      border: solid 8px #723a1b;
      border-radius: 50%;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.color {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5em;
  height: 2.5em;
  margin: 0.5em;
  border-radius: 50%;

  &:nth-child(11) {
    color: #fff;
  }

  &:hover {
    &::after {
      position: absolute;
      top: -0.5em;
      right: -0.5em;
      width: 3.5em;
      height: 3.5em;
      content: '';
      border: solid 4px #723a1b;
      border-radius: 50%;
    }
  }
}
</style>
