<template>
  <div class="home">
    <video
      playsinline
      autoplay
      muted
      loop
    >
      <source
        :src="video"
        type="video/mp4"
      >
    </video>
    <img
      class="logo"
      :src="logo"
    >
    <router-link
      :to="{ name: 'Menu' }"
      class="button"
      @click.native="playBackgroundAudio"
    >
      Iniciar
    </router-link>
  </div>
</template>

<script>
import logo from '@/assets/logotype.svg'
import video from '@/assets/splash.mp4'

export default {
  name: 'Home',
  data: () => ({
    logo,
    video
  }),
  methods: {
    playBackgroundAudio () {
      const audio = document.getElementById('audio')
      audio.volume = 0.7
      audio.play()
    }
  }
}
</script>

<style lang="scss" scoped>
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.logo {
  position: absolute;
  top: 2em;
  right: 2em;
  width: 15em;
}

.button {
  display: grid;
  align-content: center;
  width: 5em;
  height: 5em;
  padding: 0;
  font-size: 3em;
  color: #fcf1d4;
  text-align: center;
  background: rgba(130, 71, 38, 0.7);
  border-radius: 50%;
  transition: background 0.5s;

  &:hover {
    background: rgba(130, 71, 38, 0.9);
  }
}
</style>
