<template>
  <div class="screen">
    <video
      playsinline
      autoplay
      muted
      loop
    >
      <source
        :src="video"
        type="video/mp4"
      >
    </video>
    <img
      class="logo"
      :src="logo"
    >
    <div class="menu">
      <router-link
        v-for="option in options"
        :key="option.id"
        :to="{ name: option.link }"
        @mouseenter.native="useTraduction(option.id)"
        @mouseleave.native="useOriginal"
      >
        {{ option.text }}
      </router-link>
    </div>
  </div>
</template>

<script>
import logo from '@/assets/logotype.svg'
import video from '@/assets/splash.mp4'
import links from '@/utils/menuOptions'

export default {
  name: 'Menu',
  data: () => ({
    audio: new Audio(),
    logo,
    video,
    links,
    options: []
  }),
  beforeMount () {
    this.options = this.links.map((option) => ({
      id: option.index,
      text: option.original,
      link: option.link
    }))
  },
  methods: {
    useOriginal () {
      this.options = this.links.map((option) => ({
        id: option.index,
        text: option.original,
        link: option.link
      }))
    },
    useTraduction (id) {
      this.options = this.links.map((option) => {
        const text = id === option.index ? option.traduction : option.original

        return {
          id: option.index,
          link: option.link,
          text
        }
      })
      this.audio.pause()
      this.audio.src = links[id].sound
      this.audio.play()
    }
  }
}
</script>

<style lang="scss" scoped>
.screen {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  min-height: 100vh;
  padding: 3em;
}

.menu {
  width: 35em;
  padding: 3em 4em;
  margin: 3em;
  background: url('~@/assets/papiro.png') no-repeat center / 100% 100%;

  a {
    position: relative;
    display: block;
    font-size: 1.75em;
    line-height: 1.15;
    color: #824726;
    text-decoration: none;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    opacity: 0.4;

    &:hover {
      color: #824726;
      opacity: 1;

      &::after {
        position: absolute;
        top: 0;
        left: -1.25em;
        width: 1em;
        height: 1em;
        content: '';
        background: url('~@/assets/indicator.png') no-repeat center / 100% 100%;
      }
    }
  }
}

video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.logo {
  position: absolute;
  top: 2em;
  right: 2em;
  width: 15em;
}
</style>
