<template>
  <div id="app">
    <router-view />
    <audio
      id="audio"
      autoplay
      loop
    >
      <source
        :src="bg"
        type="audio/mpeg"
      >
    </audio>
    <img
      :src="audioIcon"
      class="music-icon"
      :class="{'music-icon--muted': muted}"
      @click="toggleAudio"
    >
    <p class="watermark">
      AEROSTATO 2020
    </p>
  </div>
</template>

<script>
import bg from '@/assets/bg.mp3'
import audioIcon from '@/assets/music.svg'

export default {
  name: 'App',
  data: () => ({
    bg,
    audioIcon,
    muted: false
  }),
  methods: {
    toggleAudio () {
      const audio = document.getElementById('audio')
      if (audio.paused) {
        audio.play()
        this.muted = false
      } else {
        audio.pause()
        this.muted = true
      }
    }
  }
}
</script>

<style src="@/assets/css/sanitize.css">
</style>
<style src="@/assets/css/global.scss" lang="scss">
</style>
